# Data Science Tools and Ecosystem

## In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
* List popular languages for Data Science
* List popular libraries for Data Science
* List popular languages for Data Science

## Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Julia
4. Java

## Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. Seaborn
3. NumPy
4. Matplotlib

| Data Science Tools |
| -------------------|
| RStudio |
| Jupyter Notebook |
| Anaconda |
| Apache Spark |

### Below are a few examples of evaluating arithmetic expressions in Python:

In [ ]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

In [ ]:
# This will convert 200 minutes to hours by diving by 60
200/60

## Author
Kristen Cranford